# Default ignored files
/shelf/
/workspace.xml
# Persönliche Editor-Einstellungen (Formatierung, Inspection-Severities)
/editor.xml
/inspectionProfiles/
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
